@import ../../../style/_custom
.featured
  display: block
  margin-block-end: 3rem
  .block
    &-black
      padding: 1rem
      background-color: black
      color: white

      h3
        color: $yellow
        font-size: 2rem
        margin-block-end: 2rem
      h4
        font-size: 1.3rem
        color: white
      p
        color: white
        margin-block-end: 2rem
      hr
        margin-block-end: 2rem
