@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap')
// Breakpoints
$mobile: 415px
$desktop: 1440px
// Colors
$primary-orange: #a75415
$primary-pale-orange: hsl(25, 100%, 94%)

$very-dark-blue: hsl(220, 13%, 13%)
$dark-grayish-blue: hsl(219, 9%, 45%)
$grayish-blue: hsl(220, 14%, 75%)
$light-grayish-blue: hsl(223, 64%, 98%)
$light-gray: hsl(230, 60, 98, 100%)
$dark-gray: #56575c
$white: hsl(0, 0%, 100%)
$black: hsl(0, 0%, 0%)
$primary-font-color: #535359
// Fonts
$font: 'Kumbh Sans', sans-serif
$body-font-size: 16px
